body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  min-height:  100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerFAQ {
  width: 90vw;
  margin: 5rem auto;
<<<<<<< HEAD
  margin-bottom: 20px;
=======
>>>>>>> db28393b3f01f36c50dd748b751b5efb1bbdd9ca
  background: #EBF6C0;
  border-radius: 0.25rem;
  padding: 2.5rem 2rem; 
  max-width: 920px;
  display: grid;
  gap: 1rem 2rem;
<<<<<<< HEAD
  border: 1px solid #282c34;
=======
>>>>>>> db28393b3f01f36c50dd748b751b5efb1bbdd9ca
}

.containerLegal {
  width: 90vw;
  margin: 5rem auto;
  background: #fff;
  border-radius: 0.25rem;
  /* padding: 2.5rem 2rem;  */
  max-width: 920px;
  display: grid;
  /* gap: 1rem 2rem; */
<<<<<<< HEAD
}
=======
}


>>>>>>> db28393b3f01f36c50dd748b751b5efb1bbdd9ca
